@import url(https://themes.googleusercontent.com/fonts/css?kit=OPeqXG-QxW3ZD8BtmPikfA);

.page {
  padding-top: 24px;
  background-color: white;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
  padding-top: 116px;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
}

.lst-kix_15yq4xbgvcaq-7 > li {
  counter-increment: lst-ctn-kix_15yq4xbgvcaq-7
}

.lst-kix_e1n62nc8tbty-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_e1n62nc8tbty-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_e1n62nc8tbty-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_e1n62nc8tbty-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_e1n62nc8tbty-3 > li:before {
  content: "\0025cf   "
}

ol.lst-kix_15yq4xbgvcaq-6.start {
  counter-reset: lst-ctn-kix_15yq4xbgvcaq-6 0
}

.lst-kix_e1n62nc8tbty-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_wpsqm863i9pl-5 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_e1n62nc8tbty-0 {
  list-style-type: none
}

.lst-kix_wpsqm863i9pl-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_wpsqm863i9pl-7 > li:before {
  content: "\0025cb   "
}

ol.lst-kix_qea56ln6ziuy-7.start {
  counter-reset: lst-ctn-kix_qea56ln6ziuy-7 0
}

.lst-kix_qea56ln6ziuy-0 > li {
  counter-increment: lst-ctn-kix_qea56ln6ziuy-0
}

ul.lst-kix_e1n62nc8tbty-7 {
  list-style-type: none
}

ul.lst-kix_e1n62nc8tbty-8 {
  list-style-type: none
}

.lst-kix_wpsqm863i9pl-8 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_e1n62nc8tbty-5 {
  list-style-type: none
}

ul.lst-kix_e1n62nc8tbty-6 {
  list-style-type: none
}

ul.lst-kix_e1n62nc8tbty-3 {
  list-style-type: none
}

.lst-kix_e1n62nc8tbty-7 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_e1n62nc8tbty-4 {
  list-style-type: none
}

ul.lst-kix_e1n62nc8tbty-1 {
  list-style-type: none
}

.lst-kix_e1n62nc8tbty-6 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_e1n62nc8tbty-2 {
  list-style-type: none
}

ul.lst-kix_6pvrf1tgyy14-0 {
  list-style-type: none
}

ul.lst-kix_6pvrf1tgyy14-1 {
  list-style-type: none
}

ul.lst-kix_6pvrf1tgyy14-8 {
  list-style-type: none
}

ul.lst-kix_6pvrf1tgyy14-6 {
  list-style-type: none
}

ul.lst-kix_6pvrf1tgyy14-7 {
  list-style-type: none
}

ul.lst-kix_6pvrf1tgyy14-4 {
  list-style-type: none
}

ul.lst-kix_6pvrf1tgyy14-5 {
  list-style-type: none
}

ul.lst-kix_6pvrf1tgyy14-2 {
  list-style-type: none
}

ul.lst-kix_6pvrf1tgyy14-3 {
  list-style-type: none
}

ul.lst-kix_mm1skyop6x2d-1 {
  list-style-type: none
}

ul.lst-kix_mm1skyop6x2d-0 {
  list-style-type: none
}

ul.lst-kix_mm1skyop6x2d-3 {
  list-style-type: none
}

ul.lst-kix_mm1skyop6x2d-2 {
  list-style-type: none
}

ul.lst-kix_mm1skyop6x2d-8 {
  list-style-type: none
}

ul.lst-kix_mm1skyop6x2d-5 {
  list-style-type: none
}

ul.lst-kix_mm1skyop6x2d-4 {
  list-style-type: none
}

ul.lst-kix_mm1skyop6x2d-7 {
  list-style-type: none
}

ul.lst-kix_mm1skyop6x2d-6 {
  list-style-type: none
}

.lst-kix_15yq4xbgvcaq-3 > li {
  counter-increment: lst-ctn-kix_15yq4xbgvcaq-3
}

.lst-kix_15yq4xbgvcaq-0 > li {
  counter-increment: lst-ctn-kix_15yq4xbgvcaq-0
}

.lst-kix_qea56ln6ziuy-2 > li {
  counter-increment: lst-ctn-kix_qea56ln6ziuy-2
}

ul.lst-kix_o468x85y08kg-1 {
  list-style-type: none
}

ul.lst-kix_o468x85y08kg-0 {
  list-style-type: none
}

.lst-kix_mm1skyop6x2d-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_mm1skyop6x2d-6 > li:before {
  content: "\0025cf   "
}

ol.lst-kix_qea56ln6ziuy-0.start {
  counter-reset: lst-ctn-kix_qea56ln6ziuy-0 0
}

.lst-kix_mm1skyop6x2d-4 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_o468x85y08kg-7 {
  list-style-type: none
}

ul.lst-kix_o468x85y08kg-6 {
  list-style-type: none
}

ul.lst-kix_o468x85y08kg-8 {
  list-style-type: none
}

ul.lst-kix_o468x85y08kg-3 {
  list-style-type: none
}

ul.lst-kix_o468x85y08kg-2 {
  list-style-type: none
}

ul.lst-kix_o468x85y08kg-5 {
  list-style-type: none
}

.lst-kix_mm1skyop6x2d-0 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_o468x85y08kg-4 {
  list-style-type: none
}

.lst-kix_15yq4xbgvcaq-7 > li:before {
  content: "" counter(lst-ctn-kix_15yq4xbgvcaq-7, lower-latin) ". "
}

.lst-kix_15yq4xbgvcaq-5 > li:before {
  content: "" counter(lst-ctn-kix_15yq4xbgvcaq-5, lower-roman) ". "
}

.lst-kix_6pvrf1tgyy14-8 > li:before {
  content: "\0025a0   "
}

ol.lst-kix_15yq4xbgvcaq-2.start {
  counter-reset: lst-ctn-kix_15yq4xbgvcaq-2 0
}

.lst-kix_6pvrf1tgyy14-6 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_nu1xu0834gwt-4 {
  list-style-type: none
}

ul.lst-kix_nu1xu0834gwt-3 {
  list-style-type: none
}

ul.lst-kix_nu1xu0834gwt-2 {
  list-style-type: none
}

ul.lst-kix_nu1xu0834gwt-1 {
  list-style-type: none
}

.lst-kix_15yq4xbgvcaq-1 > li:before {
  content: "" counter(lst-ctn-kix_15yq4xbgvcaq-1, lower-latin) ". "
}

ul.lst-kix_nu1xu0834gwt-0 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-3.start {
  counter-reset: lst-ctn-kix_qea56ln6ziuy-3 0
}

.lst-kix_15yq4xbgvcaq-3 > li:before {
  content: "" counter(lst-ctn-kix_15yq4xbgvcaq-3, decimal) ". "
}

ul.lst-kix_nu1xu0834gwt-8 {
  list-style-type: none
}

ul.lst-kix_nu1xu0834gwt-7 {
  list-style-type: none
}

ul.lst-kix_nu1xu0834gwt-6 {
  list-style-type: none
}

ul.lst-kix_nu1xu0834gwt-5 {
  list-style-type: none
}

ul.lst-kix_4pknvlr40x2w-1 {
  list-style-type: none
}

ul.lst-kix_m1bmjcvd2u1k-7 {
  list-style-type: none
}

ul.lst-kix_4pknvlr40x2w-2 {
  list-style-type: none
}

ul.lst-kix_m1bmjcvd2u1k-6 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-8 {
  list-style-type: none
}

.lst-kix_15yq4xbgvcaq-4 > li {
  counter-increment: lst-ctn-kix_15yq4xbgvcaq-4
}

ul.lst-kix_4pknvlr40x2w-3 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-7 {
  list-style-type: none
}

ul.lst-kix_4pknvlr40x2w-4 {
  list-style-type: none
}

ul.lst-kix_m1bmjcvd2u1k-8 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-6 {
  list-style-type: none
}

ul.lst-kix_4pknvlr40x2w-0 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-1 {
  list-style-type: none
}

.lst-kix_qea56ln6ziuy-3 > li {
  counter-increment: lst-ctn-kix_qea56ln6ziuy-3
}

ol.lst-kix_15yq4xbgvcaq-1.start {
  counter-reset: lst-ctn-kix_15yq4xbgvcaq-1 0
}

ol.lst-kix_qea56ln6ziuy-0 {
  list-style-type: none
}

ul.lst-kix_m1bmjcvd2u1k-1 {
  list-style-type: none
}

ul.lst-kix_m1bmjcvd2u1k-0 {
  list-style-type: none
}

ul.lst-kix_4pknvlr40x2w-5 {
  list-style-type: none
}

ul.lst-kix_m1bmjcvd2u1k-3 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-5 {
  list-style-type: none
}

ul.lst-kix_4pknvlr40x2w-6 {
  list-style-type: none
}

ul.lst-kix_m1bmjcvd2u1k-2 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-4 {
  list-style-type: none
}

ul.lst-kix_4pknvlr40x2w-7 {
  list-style-type: none
}

ul.lst-kix_m1bmjcvd2u1k-5 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-3 {
  list-style-type: none
}

ul.lst-kix_4pknvlr40x2w-8 {
  list-style-type: none
}

ul.lst-kix_m1bmjcvd2u1k-4 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-2 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-2.start {
  counter-reset: lst-ctn-kix_qea56ln6ziuy-2 0
}

.lst-kix_nu1xu0834gwt-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_15yq4xbgvcaq-5 > li {
  counter-increment: lst-ctn-kix_15yq4xbgvcaq-5
}

.lst-kix_6pvrf1tgyy14-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_6pvrf1tgyy14-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_qea56ln6ziuy-4 > li {
  counter-increment: lst-ctn-kix_qea56ln6ziuy-4
}

.lst-kix_nu1xu0834gwt-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_6pvrf1tgyy14-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_nu1xu0834gwt-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_bvssj4boy0wr-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_bvssj4boy0wr-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_bvssj4boy0wr-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_bvssj4boy0wr-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_bvssj4boy0wr-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_nu1xu0834gwt-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_wpsqm863i9pl-3 > li:before {
  content: "\0025cf   "
}

ol.lst-kix_qea56ln6ziuy-1.start {
  counter-reset: lst-ctn-kix_qea56ln6ziuy-1 0
}

.lst-kix_e1n62nc8tbty-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_wpsqm863i9pl-1 > li:before {
  content: "\0025cb   "
}

ol.lst-kix_15yq4xbgvcaq-0.start {
  counter-reset: lst-ctn-kix_15yq4xbgvcaq-0 0
}

.lst-kix_nu1xu0834gwt-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_m1bmjcvd2u1k-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_m1bmjcvd2u1k-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_o468x85y08kg-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_o468x85y08kg-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_o468x85y08kg-4 > li:before {
  content: "\0025cb   "
}

ol.lst-kix_15yq4xbgvcaq-2 {
  list-style-type: none
}

ol.lst-kix_15yq4xbgvcaq-1 {
  list-style-type: none
}

.lst-kix_m1bmjcvd2u1k-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_m1bmjcvd2u1k-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_o468x85y08kg-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_o468x85y08kg-5 > li:before {
  content: "\0025a0   "
}

ol.lst-kix_15yq4xbgvcaq-4 {
  list-style-type: none
}

ol.lst-kix_15yq4xbgvcaq-3 {
  list-style-type: none
}

.lst-kix_qea56ln6ziuy-1 > li {
  counter-increment: lst-ctn-kix_qea56ln6ziuy-1
}

.lst-kix_m1bmjcvd2u1k-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_m1bmjcvd2u1k-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_m1bmjcvd2u1k-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_m1bmjcvd2u1k-7 > li:before {
  content: "\0025cb   "
}

ol.lst-kix_15yq4xbgvcaq-0 {
  list-style-type: none
}

.lst-kix_qea56ln6ziuy-0 > li:before {
  content: "" counter(lst-ctn-kix_qea56ln6ziuy-0, decimal) ". "
}

.lst-kix_o468x85y08kg-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_o468x85y08kg-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_o468x85y08kg-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_qea56ln6ziuy-5 > li:before {
  content: "" counter(lst-ctn-kix_qea56ln6ziuy-5, lower-roman) ". "
}

.lst-kix_qea56ln6ziuy-7 > li:before {
  content: "" counter(lst-ctn-kix_qea56ln6ziuy-7, lower-latin) ". "
}

.lst-kix_qea56ln6ziuy-4 > li:before {
  content: "" counter(lst-ctn-kix_qea56ln6ziuy-4, lower-latin) ". "
}

.lst-kix_qea56ln6ziuy-8 > li:before {
  content: "" counter(lst-ctn-kix_qea56ln6ziuy-8, lower-roman) ". "
}

.lst-kix_qea56ln6ziuy-1 > li:before {
  content: "" counter(lst-ctn-kix_qea56ln6ziuy-1, lower-latin) ". "
}

.lst-kix_qea56ln6ziuy-3 > li:before {
  content: "" counter(lst-ctn-kix_qea56ln6ziuy-3, decimal) ". "
}

.lst-kix_qea56ln6ziuy-2 > li:before {
  content: "" counter(lst-ctn-kix_qea56ln6ziuy-2, lower-roman) ". "
}

.lst-kix_o468x85y08kg-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_qea56ln6ziuy-6 > li:before {
  content: "" counter(lst-ctn-kix_qea56ln6ziuy-6, decimal) ". "
}

ol.lst-kix_qea56ln6ziuy-5.start {
  counter-reset: lst-ctn-kix_qea56ln6ziuy-5 0
}

.lst-kix_4pknvlr40x2w-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_4pknvlr40x2w-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_4pknvlr40x2w-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_4pknvlr40x2w-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_4pknvlr40x2w-4 > li:before {
  content: "\0025cb   "
}

ol.lst-kix_15yq4xbgvcaq-4.start {
  counter-reset: lst-ctn-kix_15yq4xbgvcaq-4 0
}

.lst-kix_4pknvlr40x2w-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_4pknvlr40x2w-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_4pknvlr40x2w-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_qea56ln6ziuy-5 > li {
  counter-increment: lst-ctn-kix_qea56ln6ziuy-5
}

.lst-kix_qea56ln6ziuy-8 > li {
  counter-increment: lst-ctn-kix_qea56ln6ziuy-8
}

.lst-kix_m1bmjcvd2u1k-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_15yq4xbgvcaq-6 > li {
  counter-increment: lst-ctn-kix_15yq4xbgvcaq-6
}

ol.lst-kix_15yq4xbgvcaq-6 {
  list-style-type: none
}

ol.lst-kix_15yq4xbgvcaq-5 {
  list-style-type: none
}

ol.lst-kix_15yq4xbgvcaq-8 {
  list-style-type: none
}

ol.lst-kix_15yq4xbgvcaq-7 {
  list-style-type: none
}

ol.lst-kix_qea56ln6ziuy-4.start {
  counter-reset: lst-ctn-kix_qea56ln6ziuy-4 0
}

ol.lst-kix_15yq4xbgvcaq-3.start {
  counter-reset: lst-ctn-kix_15yq4xbgvcaq-3 0
}

.lst-kix_mm1skyop6x2d-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_4pknvlr40x2w-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_mm1skyop6x2d-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_mm1skyop6x2d-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_15yq4xbgvcaq-1 > li {
  counter-increment: lst-ctn-kix_15yq4xbgvcaq-1
}

.lst-kix_qea56ln6ziuy-6 > li {
  counter-increment: lst-ctn-kix_qea56ln6ziuy-6
}

.lst-kix_mm1skyop6x2d-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_qea56ln6ziuy-7 > li {
  counter-increment: lst-ctn-kix_qea56ln6ziuy-7
}

.lst-kix_15yq4xbgvcaq-2 > li {
  counter-increment: lst-ctn-kix_15yq4xbgvcaq-2
}

.lst-kix_mm1skyop6x2d-1 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_bvssj4boy0wr-2 {
  list-style-type: none
}

ul.lst-kix_bvssj4boy0wr-3 {
  list-style-type: none
}

ul.lst-kix_bvssj4boy0wr-0 {
  list-style-type: none
}

ul.lst-kix_bvssj4boy0wr-1 {
  list-style-type: none
}

ul.lst-kix_wpsqm863i9pl-1 {
  list-style-type: none
}

ul.lst-kix_bvssj4boy0wr-6 {
  list-style-type: none
}

ul.lst-kix_wpsqm863i9pl-0 {
  list-style-type: none
}

ul.lst-kix_bvssj4boy0wr-7 {
  list-style-type: none
}

ul.lst-kix_bvssj4boy0wr-4 {
  list-style-type: none
}

ul.lst-kix_bvssj4boy0wr-5 {
  list-style-type: none
}

ul.lst-kix_wpsqm863i9pl-5 {
  list-style-type: none
}

ul.lst-kix_wpsqm863i9pl-4 {
  list-style-type: none
}

ul.lst-kix_wpsqm863i9pl-3 {
  list-style-type: none
}

.lst-kix_15yq4xbgvcaq-4 > li:before {
  content: "" counter(lst-ctn-kix_15yq4xbgvcaq-4, lower-latin) ". "
}

ol.lst-kix_15yq4xbgvcaq-5.start {
  counter-reset: lst-ctn-kix_15yq4xbgvcaq-5 0
}

.lst-kix_15yq4xbgvcaq-8 > li:before {
  content: "" counter(lst-ctn-kix_15yq4xbgvcaq-8, lower-roman) ". "
}

ul.lst-kix_bvssj4boy0wr-8 {
  list-style-type: none
}

ul.lst-kix_wpsqm863i9pl-2 {
  list-style-type: none
}

.lst-kix_6pvrf1tgyy14-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_6pvrf1tgyy14-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_15yq4xbgvcaq-6 > li:before {
  content: "" counter(lst-ctn-kix_15yq4xbgvcaq-6, decimal) ". "
}

ol.lst-kix_15yq4xbgvcaq-8.start {
  counter-reset: lst-ctn-kix_15yq4xbgvcaq-8 0
}

.lst-kix_15yq4xbgvcaq-0 > li:before {
  content: "" counter(lst-ctn-kix_15yq4xbgvcaq-0, decimal) ". "
}

ul.lst-kix_wpsqm863i9pl-8 {
  list-style-type: none
}

ul.lst-kix_wpsqm863i9pl-7 {
  list-style-type: none
}

ul.lst-kix_wpsqm863i9pl-6 {
  list-style-type: none
}

.lst-kix_15yq4xbgvcaq-2 > li:before {
  content: "" counter(lst-ctn-kix_15yq4xbgvcaq-2, lower-roman) ". "
}

ol.lst-kix_qea56ln6ziuy-6.start {
  counter-reset: lst-ctn-kix_qea56ln6ziuy-6 0
}

.lst-kix_6pvrf1tgyy14-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_6pvrf1tgyy14-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_nu1xu0834gwt-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_bvssj4boy0wr-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_nu1xu0834gwt-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_nu1xu0834gwt-3 > li:before {
  content: "\0025cf   "
}

ol.lst-kix_15yq4xbgvcaq-7.start {
  counter-reset: lst-ctn-kix_15yq4xbgvcaq-7 0
}

.lst-kix_bvssj4boy0wr-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_15yq4xbgvcaq-8 > li {
  counter-increment: lst-ctn-kix_15yq4xbgvcaq-8
}

.lst-kix_bvssj4boy0wr-7 > li:before {
  content: "\0025cb   "
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.lst-kix_nu1xu0834gwt-5 > li:before {
  content: "\0025a0   "
}

ol.lst-kix_qea56ln6ziuy-8.start {
  counter-reset: lst-ctn-kix_qea56ln6ziuy-8 0
}

.lst-kix_wpsqm863i9pl-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_wpsqm863i9pl-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_wpsqm863i9pl-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_bvssj4boy0wr-3 > li:before {
  content: "\0025cf   "
}

ol {
  margin: 0;
  padding: 0
}

table td, table th {
  padding: 0
}

.c1 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 24pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c10 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 36pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c0 {
  color: #212529;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: "Arial";
  font-style: normal
}

.c20 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c2 {
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c12 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Arial";
  font-style: normal
}

.c24 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 18pt;
  line-height: 1.2;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c3 {
  color: #212529;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Arial";
  font-style: normal
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 9pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c5 {
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c14 {
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c19 {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt
}

.c17 {
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c16 {
  color: #000000;
  font-weight: 400;
  font-size: 11pt
}

.c6 {
  color: #212529;
  font-size: 10pt
}

.c7 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c21 {
  font-size: 12pt;
  color: #1155cc
}

.c8 {
  color: #212529;
  font-size: 10.5pt
}

.c15 {
  font-family: "Roboto";
  font-weight: 400
}

.c9 {
  padding: 0;
  margin: 0
}

.c11 {
  color: #212529;
  font-size: 12pt
}

.c23 {
  color: inherit;
  text-decoration: inherit
}

.c18 {
  font-weight: 400
}

.c13 {
  font-weight: 700
}

.c22 {
  color: #212529
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
