@import url(https://themes.googleusercontent.com/fonts/css?kit=OPeqXG-QxW3ZD8BtmPikfA);

.page {
  padding-top: 24px;
  background-color: white;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
  padding-top: 116px;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
}

.c1 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 24pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c10 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 36pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c0 {
  color: #212529;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: "Arial";
  font-style: normal
}

.c20 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c2 {
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c12 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Arial";
  font-style: normal
}

.c24 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 18pt;
  line-height: 1.2;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c3 {
  color: #212529;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Arial";
  font-style: normal
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 9pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c5 {
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c14 {
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c19 {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt
}

.c17 {
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c16 {
  color: #000000;
  font-weight: 400;
  font-size: 11pt
}

.c6 {
  color: #212529;
  font-size: 10pt
}

.c7 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c21 {
  font-size: 12pt;
  color: #1155cc
}

.c8 {
  color: #212529;
  font-size: 10.5pt
}

.c15 {
  font-family: "Roboto";
  font-weight: 400
}

.c9 {
  padding: 0;
  margin: 0
}

.c11 {
  color: #212529;
  font-size: 12pt
}

.c23 {
  color: inherit;
  text-decoration: inherit
}

.c18 {
  font-weight: 400
}

.c13 {
  font-weight: 700
}

.c22 {
  color: #212529
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}
