@import url(https://themes.googleusercontent.com/fonts/css?kit=OPeqXG-QxW3ZD8BtmPikfA);

.page {
  background-color: white;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
  padding-top: 116px;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
}

ul.lst-kix_cexu4lrfc40r-4 {
  list-style-type: none
}

ul.lst-kix_46zosj6p3mia-0 {
  list-style-type: none
}

ul.lst-kix_cexu4lrfc40r-3 {
  list-style-type: none
}

.lst-kix_8vqyyz8om139-7 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_46zosj6p3mia-1 {
  list-style-type: none
}

ul.lst-kix_cexu4lrfc40r-6 {
  list-style-type: none
}

ul.lst-kix_46zosj6p3mia-2 {
  list-style-type: none
}

ul.lst-kix_cexu4lrfc40r-5 {
  list-style-type: none
}

ul.lst-kix_46zosj6p3mia-3 {
  list-style-type: none
}

ul.lst-kix_jxq1w9hss4hb-2 {
  list-style-type: none
}

ul.lst-kix_cexu4lrfc40r-8 {
  list-style-type: none
}

.lst-kix_5zog9a4ohxkf-5 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_46zosj6p3mia-4 {
  list-style-type: none
}

ul.lst-kix_jxq1w9hss4hb-1 {
  list-style-type: none
}

ul.lst-kix_cexu4lrfc40r-7 {
  list-style-type: none
}

.lst-kix_8vqyyz8om139-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_8vqyyz8om139-6 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_46zosj6p3mia-5 {
  list-style-type: none
}

ul.lst-kix_jxq1w9hss4hb-0 {
  list-style-type: none
}

.lst-kix_5zog9a4ohxkf-6 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_46zosj6p3mia-6 {
  list-style-type: none
}

ul.lst-kix_jxq1w9hss4hb-6 {
  list-style-type: none
}

.lst-kix_5zog9a4ohxkf-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_8vqyyz8om139-4 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_jxq1w9hss4hb-5 {
  list-style-type: none
}

ul.lst-kix_jxq1w9hss4hb-4 {
  list-style-type: none
}

.lst-kix_8vqyyz8om139-3 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_jxq1w9hss4hb-3 {
  list-style-type: none
}

ul.lst-kix_jxq1w9hss4hb-8 {
  list-style-type: none
}

.lst-kix_5zog9a4ohxkf-8 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_jxq1w9hss4hb-7 {
  list-style-type: none
}

.lst-kix_8vqyyz8om139-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_46zosj6p3mia-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_46zosj6p3mia-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_8vqyyz8om139-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_8vqyyz8om139-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_46zosj6p3mia-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_46zosj6p3mia-6 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_odipm6yjgmyf-8 {
  list-style-type: none
}

ul.lst-kix_46zosj6p3mia-7 {
  list-style-type: none
}

.lst-kix_46zosj6p3mia-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_46zosj6p3mia-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_46zosj6p3mia-8 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_46zosj6p3mia-8 {
  list-style-type: none
}

ul.lst-kix_cexu4lrfc40r-0 {
  list-style-type: none
}

.lst-kix_46zosj6p3mia-1 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_cexu4lrfc40r-2 {
  list-style-type: none
}

.lst-kix_5zog9a4ohxkf-4 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_cexu4lrfc40r-1 {
  list-style-type: none
}

.lst-kix_5zog9a4ohxkf-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_5zog9a4ohxkf-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_5zog9a4ohxkf-2 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_odipm6yjgmyf-7 {
  list-style-type: none
}

ul.lst-kix_odipm6yjgmyf-6 {
  list-style-type: none
}

ul.lst-kix_odipm6yjgmyf-5 {
  list-style-type: none
}

ul.lst-kix_odipm6yjgmyf-4 {
  list-style-type: none
}

ul.lst-kix_odipm6yjgmyf-3 {
  list-style-type: none
}

.lst-kix_46zosj6p3mia-5 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_odipm6yjgmyf-2 {
  list-style-type: none
}

ul.lst-kix_odipm6yjgmyf-1 {
  list-style-type: none
}

.lst-kix_5zog9a4ohxkf-0 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_odipm6yjgmyf-0 {
  list-style-type: none
}

.lst-kix_odipm6yjgmyf-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_odipm6yjgmyf-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_odipm6yjgmyf-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_odipm6yjgmyf-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_odipm6yjgmyf-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_odipm6yjgmyf-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_odipm6yjgmyf-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_tzwg8nh7ntu5-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_odipm6yjgmyf-2 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_iifrrfhy2b4t-8 {
  list-style-type: none
}

ul.lst-kix_iifrrfhy2b4t-2 {
  list-style-type: none
}

ul.lst-kix_iifrrfhy2b4t-3 {
  list-style-type: none
}

ul.lst-kix_iifrrfhy2b4t-0 {
  list-style-type: none
}

ul.lst-kix_iifrrfhy2b4t-1 {
  list-style-type: none
}

ul.lst-kix_iifrrfhy2b4t-6 {
  list-style-type: none
}

ul.lst-kix_iifrrfhy2b4t-7 {
  list-style-type: none
}

ul.lst-kix_iifrrfhy2b4t-4 {
  list-style-type: none
}

ul.lst-kix_iifrrfhy2b4t-5 {
  list-style-type: none
}

.lst-kix_8vqyyz8om139-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_r59u9jlyolle-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_r59u9jlyolle-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_odipm6yjgmyf-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_r59u9jlyolle-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_cexu4lrfc40r-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_r59u9jlyolle-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_r59u9jlyolle-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_cexu4lrfc40r-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_r59u9jlyolle-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_r59u9jlyolle-7 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_5zog9a4ohxkf-3 {
  list-style-type: none
}

ul.lst-kix_5zog9a4ohxkf-2 {
  list-style-type: none
}

ul.lst-kix_5zog9a4ohxkf-5 {
  list-style-type: none
}

ul.lst-kix_5zog9a4ohxkf-4 {
  list-style-type: none
}

ul.lst-kix_5zog9a4ohxkf-1 {
  list-style-type: none
}

.lst-kix_cexu4lrfc40r-1 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_5zog9a4ohxkf-0 {
  list-style-type: none
}

.lst-kix_r59u9jlyolle-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_cexu4lrfc40r-2 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_5zog9a4ohxkf-7 {
  list-style-type: none
}

ul.lst-kix_5zog9a4ohxkf-6 {
  list-style-type: none
}

ul.lst-kix_tzwg8nh7ntu5-8 {
  list-style-type: none
}

.lst-kix_cexu4lrfc40r-3 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_5zog9a4ohxkf-8 {
  list-style-type: none
}

ul.lst-kix_tzwg8nh7ntu5-7 {
  list-style-type: none
}

ul.lst-kix_tzwg8nh7ntu5-6 {
  list-style-type: none
}

ul.lst-kix_tzwg8nh7ntu5-5 {
  list-style-type: none
}

ul.lst-kix_tzwg8nh7ntu5-4 {
  list-style-type: none
}

.lst-kix_cexu4lrfc40r-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_cexu4lrfc40r-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_r59u9jlyolle-8 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_tzwg8nh7ntu5-3 {
  list-style-type: none
}

ul.lst-kix_tzwg8nh7ntu5-2 {
  list-style-type: none
}

ul.lst-kix_tzwg8nh7ntu5-1 {
  list-style-type: none
}

ul.lst-kix_tzwg8nh7ntu5-0 {
  list-style-type: none
}

.lst-kix_cexu4lrfc40r-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_tzwg8nh7ntu5-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_tzwg8nh7ntu5-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_iifrrfhy2b4t-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_tzwg8nh7ntu5-2 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_8vqyyz8om139-8 {
  list-style-type: none
}

ul.lst-kix_8vqyyz8om139-7 {
  list-style-type: none
}

.lst-kix_tzwg8nh7ntu5-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_tzwg8nh7ntu5-3 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_8vqyyz8om139-6 {
  list-style-type: none
}

.lst-kix_cexu4lrfc40r-0 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_8vqyyz8om139-5 {
  list-style-type: none
}

ul.lst-kix_8vqyyz8om139-4 {
  list-style-type: none
}

ul.lst-kix_8vqyyz8om139-3 {
  list-style-type: none
}

ul.lst-kix_8vqyyz8om139-2 {
  list-style-type: none
}

ul.lst-kix_8vqyyz8om139-1 {
  list-style-type: none
}

.lst-kix_tzwg8nh7ntu5-6 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_8vqyyz8om139-0 {
  list-style-type: none
}

.lst-kix_tzwg8nh7ntu5-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_tzwg8nh7ntu5-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_jxq1w9hss4hb-7 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_4x76xybxodrh-1 {
  list-style-type: none
}

ul.lst-kix_4x76xybxodrh-0 {
  list-style-type: none
}

ul.lst-kix_4x76xybxodrh-3 {
  list-style-type: none
}

ul.lst-kix_4x76xybxodrh-2 {
  list-style-type: none
}

.lst-kix_jxq1w9hss4hb-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_iifrrfhy2b4t-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_jxq1w9hss4hb-3 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_4x76xybxodrh-8 {
  list-style-type: none
}

.lst-kix_iifrrfhy2b4t-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_jxq1w9hss4hb-5 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_4x76xybxodrh-5 {
  list-style-type: none
}

ul.lst-kix_4x76xybxodrh-4 {
  list-style-type: none
}

.lst-kix_jxq1w9hss4hb-4 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_4x76xybxodrh-7 {
  list-style-type: none
}

ul.lst-kix_4x76xybxodrh-6 {
  list-style-type: none
}

.lst-kix_iifrrfhy2b4t-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_iifrrfhy2b4t-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_iifrrfhy2b4t-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_4x76xybxodrh-7 > li:before {
  content: "\0025cb   "
}

.lst-kix_4x76xybxodrh-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_iifrrfhy2b4t-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_4x76xybxodrh-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_iifrrfhy2b4t-5 > li:before {
  content: "\0025a0   "
}

.lst-kix_jxq1w9hss4hb-8 > li:before {
  content: "\0025a0   "
}

.lst-kix_4x76xybxodrh-6 > li:before {
  content: "\0025cf   "
}

.lst-kix_iifrrfhy2b4t-4 > li:before {
  content: "\0025cb   "
}

.lst-kix_4x76xybxodrh-1 > li:before {
  content: "\0025cb   "
}

.lst-kix_4x76xybxodrh-3 > li:before {
  content: "\0025cf   "
}

.lst-kix_4x76xybxodrh-0 > li:before {
  content: "\0025cf   "
}

.lst-kix_4x76xybxodrh-4 > li:before {
  content: "\0025cb   "
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.lst-kix_4x76xybxodrh-2 > li:before {
  content: "\0025a0   "
}

ul.lst-kix_r59u9jlyolle-5 {
  list-style-type: none
}

ul.lst-kix_r59u9jlyolle-4 {
  list-style-type: none
}

ul.lst-kix_r59u9jlyolle-3 {
  list-style-type: none
}

ul.lst-kix_r59u9jlyolle-2 {
  list-style-type: none
}

ul.lst-kix_r59u9jlyolle-1 {
  list-style-type: none
}

ul.lst-kix_r59u9jlyolle-0 {
  list-style-type: none
}

.lst-kix_jxq1w9hss4hb-2 > li:before {
  content: "\0025a0   "
}

.lst-kix_jxq1w9hss4hb-1 > li:before {
  content: "\0025cb   "
}

ul.lst-kix_r59u9jlyolle-8 {
  list-style-type: none
}

.lst-kix_jxq1w9hss4hb-0 > li:before {
  content: "\0025cf   "
}

ul.lst-kix_r59u9jlyolle-7 {
  list-style-type: none
}

ul.lst-kix_r59u9jlyolle-6 {
  list-style-type: none
}

ol {
  margin: 0;
  padding: 0
}

table td, table th {
  padding: 0
}

.c2 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 24pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c15 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Arial";
  font-style: normal
}

.c14 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c0 {
  color: #212529;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: "Arial";
  font-style: normal
}

.c7 {
  color: #212529;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Arial";
  font-style: normal
}

.c9 {
  color: #212529;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Roboto";
  font-style: normal
}

.c8 {
  color: #212529;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Arial";
  font-style: normal
}

.c13 {
  padding-top: 0pt;
  padding-bottom: 18pt;
  line-height: 1.2;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c18 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c1 {
  padding-top: 0pt;
  padding-bottom: 9pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c16 {
  font-size: 12pt;
  font-family: "Roboto";
  color: #212529;
  font-weight: 400
}

.c19 {
  font-size: 12pt;
  font-family: "Roboto";
  color: #1155cc;
  font-weight: 400
}

.c6 {
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt
}

.c10 {
  color: #212529;
  font-size: 10.5pt
}

.c3 {
  color: #1155cc;
  font-size: 10.5pt
}

.c5 {
  padding: 0;
  margin: 0
}

.c12 {
  color: inherit;
  text-decoration: inherit
}

.c11 {
}

.c17 {
  height: 11pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
